{% extends "base.html" %}

{% block head_title %}{{ instance.title }} | {{block.super }}{% endblock head_title %}

{% block style %}
.cont {
    margin-top: 20px;
    margin-bottom:20px;
}
.image-style {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 20px;
}
{% endblock style %}

{% block content %}

<div class="cont" align="center">
<div class='card col-sm-7'>
    <div class="card-body">
        <h1>{{ instance.title }}</h1>
        <img class="image-style" src="{{ instance.image.url }}">
        <div class="text-left"><p><small>Создан: {{ instance.timestamp }}</small></p></div>
        <div class="text-left"><p><small>Последнее обновление: {{ instance.updated }}</small></p></div>
        <div class="text-left"><p>{{ instance.content | linebreaks }}</p></div>
    </div>
</div>
</div>

{% endblock content %}
